<template>
  <div class="principal">
    <div class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Crear Plantilla</h1>
        </div>
      </div>
    </div>
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-3">
                        <div id="box" class="box">
                            <div class="field">
                                <label class="label">Nombre de la plantilla</label>
                                <p class="control">
                                    <input class="input" type="text" name="textField">
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button is-primary" @click="submitForm">Crear</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> 
</template>

<script>
export default {
  name: 'CrearPlantilla'
}
</script>

<style>

</style>
