<template>
  <div class="principal">
    <div class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Plantillas</h1>
        </div>
      </div>
    </div>
    <section class="section">
      <b-tabs class="block">
        <b-tab-item label="Todas">
          <div class="container">
            <div class="columns is-multiline">
              <div v-for="plantilla in plantillas"
                  :key="plantilla.nombre"
                  class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">{{ plantilla.nombre }}</p>
                  </header>
                  <div class="card-content">
                    {{ plantilla.descripcion }}
                  </div>
                  <footer class="card-footer">
                    <router-link :to="{ name: 'Preguntas', params: { plantilla: plantilla.nombre }  }" class="card-footer-item button is-white"><b-icon icon="pencil"></b-icon><span>Modificar</span></router-link>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item label="Completas">
          <div class="container">
            <div class="columns is-multiline">
              <div v-for="plantilla in plantillasCompletas"
                  :key="plantilla.nombre"
                  class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">{{ plantilla.nombre }}</p>
                  </header>
                  <div class="card-content">
                    {{ plantilla.descripcion }}
                  </div>
                  <footer class="card-footer">
                    <router-link :to="{ name: 'Preguntas', params: { plantilla: plantilla.nombre } }" class="card-footer-item button is-white"><b-icon icon="pencil"></b-icon><span>Modificar</span></router-link>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item label="En Carga">
          <div class="container">
            <div class="columns is-multiline">
              <div v-for="plantilla in plantillasEnCarga"
                  :key="plantilla.nombre"
                  class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">{{ plantilla.nombre }}</p>
                  </header>
                  <div class="card-content">
                    {{ plantilla.descripcion }}
                  </div>
                  <footer class="card-footer">
                    <router-link
                        :to="{ name: 'Preguntas', params: { plantilla: plantilla.nombre }  }"
                        class="card-footer-item button">
                      <b-icon icon="pencil"></b-icon>
                      <span>Modificar</span>
                    </router-link>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </b-tab-item>
      </b-tabs>
    </section>
  </div>
</template>

<script>
export default {
  name: 'PantallaPrincipal',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      plantillas: [
        { nombre: 'Evento 1', estado: 'Completa', descripcion: 'Plantilla de preguntas para el evento' }
      ]
    }
  },
  computed: {
    plantillasEnCarga: function () {
      return this.plantillas.filter(function (plantilla) {
        return plantilla.estado === 'En Carga'
      })
    },
    plantillasCompletas: function () {
      return this.plantillas.filter(function (plantilla) {
        return plantilla.estado === 'Completa'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.column {
  text-align: left;
}
</style>
