<template>
  <div class="preguntas">
    <div class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ $route.params.plantilla }}</h1>
        </div>
      </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <nav class="panel">
                        <p class="panel-heading">
                            Preguntas
                        </p>
                        <a
                            v-for="pregunta in preguntas"
                            :key="pregunta.id"
                            class="panel-block"
                            v-bind:class="{ 'is-active': preguntaActual.titulo == pregunta.titulo }"
                            v-on:click='cambiarPregunta(pregunta.id, $event)'
                            >
                            <b-icon icon="book"></b-icon>
                            <span>{{ pregunta.titulo }}</span>
                        </a>
                        <div class="panel-block">
                            <button class="button is-link is-outlined is-fullwidth" v-on:click='addPregunta'>
                            Añadir Pregunta
                            </button>
                        </div>
                    </nav>
                </div>
                <div class="column is-two-thirds">
                    <form class="box">
                        <b-field label="Título">
                            <b-input v-model="preguntaActual.titulo"></b-input>
                        </b-field>
                        <b-field label="Respuesta Correcta">
                            <b-input v-model="preguntaActual.opcion1"></b-input>
                        </b-field>
                        <b-field label="Opción Falsa 1">
                            <b-input v-model="preguntaActual.opcion2"></b-input>
                        </b-field>
                        <b-field label="Opción Falsa 2">
                            <b-input v-model="preguntaActual.opcion3"></b-input>
                        </b-field>
                        <b-field><!-- Label left empty for spacing -->
                            <p class="control">
                                <button class="button is-primary" v-on:click='confirmarAddPregunta'>
                                    Confirmar
                                </button>
                                <button class="button is-danger" v-on:click='quitarPregunta(idActual, $event)'>
                                    Quitar
                                </button>
                            </p>
                        </b-field>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </div> 
</template>

<script>
import axios from 'axios'
export default {
  name: 'Preguntas',
  data () {
    return {
      preguntaActual: {},
      maxId: 0,
      idActual: 0,
      preguntas: []
    }
  },
  mounted: function () {
    this.obtenerPreguntas()
  },
  methods: {
    cambiarPregunta: function (id, event) {
      this.preguntaActual = this.preguntas[id]
      this.idActual = id
    },
    addPregunta: function (event) {
      this.preguntas.push({id: this.maxId, titulo: '', opcion1: '', opcion2: '', opcion3: ''})
      this.preguntaActual = this.preguntas[this.maxId]
      this.maxId = this.maxId + 1
    },
    quitarPregunta: function (id, event) {
      this.preguntas.splice(id, 1)
      this.maxId = this.maxId - 1
      this.confirmarAddPregunta()
    },
    confirmarAddPregunta: function (event) {
      var self = this
      var data = JSON.stringify({ preguntas: self.preguntas })
      var url = 'http://127.0.0.1:8080/send-pregunta'
      axios.post(url, data, { headers: {'Content-Type': 'application/json'} })
    },
    obtenerPreguntas: function () {
      var self = this
      fetch('http://127.0.0.1:8080/preguntas')
        .then(preguntas => preguntas.json())
        .then(function (preguntas) {
          self.preguntas = preguntas[0].preguntas
          self.preguntaActual = preguntas[0].preguntas[0]
          self.idActual = 0
          self.maxId = preguntas[0].preguntas.length
        })
    }
  }
}
</script>

<style>

</style>
